<!DOCTYPE html>

<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewBag.Title - Vasuda</title>

    <!-- Bootstrap CSS -->
    @Styles.Render("~/vasuda-template/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="~/vasuda-template/css/skitter.css" type="text/css" media="all" />
    <link rel="shortcut icon" href="favicon.ico" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
</head>
<body>
    <nav id="menu" class="panel" role="navigation">

        <ul style="margin-top:1%;text-align:center;">
            <img src="~/vasuda-template/images/logo.png" />
        </ul>
        <hr />
        <ul style="list-style-type:none">
            <a href=@Url.Action("Index", "Home")><li><i class="fas fa-home" aria-hidden="true"></i> &nbsp;  &nbsp; Home</li></a>
            <a href=@Url.Action("About", "Home")><li><i class="fas fa-clipboard"></i> &nbsp;  &nbsp; About-Us</li></a>
            <a href="services.html"><li><i class="fas fa-cog" aria-hidden="true"></i> &nbsp;  &nbsp; Services</li></a>
            <a href="portfolio.html"><li><i class="fas fa-clipboard" aria-hidden="true"></i> &nbsp;  &nbsp; Portfolio</li></a>
            <a href="team.html"><li><i class="fas fa-users" aria-hidden="true"></i> &nbsp;  &nbsp; Team</li></a>
            <a href=@Url.Action("Contact", "Home")><li><i class="fas fa-phone" aria-hidden="true"></i> &nbsp;  &nbsp; Contact-Us</li></a>
        </ul>

    </nav>
    <div class="test wrap push">
        <section class="row">
            <div class="col-lg-12 header sticky-top">
                <div class="row noham">
                    <div class="offset-lg-4 col-lg-2 logo">
                        <a href=@Url.Action("Index", "Home")><img src="~/vasuda-template/images/logo2.png" /></a>
                    </div>
                </div>
                <div class="navmob hams col-12">
                    <div class="row">
                        <div class="offset-4 col-4 logo">
                            <a href=@Url.Action("Index", "Home")><img src="~/vasuda-template/images/logo.png" /></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        @RenderBody()
        <footer class="row">
            <div class="offset-lg-1 col-lg-10 footer-nav">
                <div class="row foot2">
                    <div class="col-lg-5 fl">
                        <img src="~/vasuda-template/images/logo2.png" /><br />
                        <span class="copy">
                            &copy;
                            @DateTime.Now.Year, &nbsp;VasudaMall. All Rights Reserved. <br />Designed by <span><a href="www.amplo.com.ng" target="_blank" style="color:#444;font-family:calibri;font-weight:bold;">Amplo IT Solutions</a></span>
                    </div>
                    <div class="col-lg-7 site-nav-img">
                        <li id=""><a href=@Url.Action("About", "Home")>About-Us</a></li>
                        <li id=""><a href="terms.html">Terms & Conditions</a></li>
                        <li id=""><a href="products.html">Products</a></li>
                        <li id=""><a href="clearance.html">Clearance</a></li>
                        <li id=""><a href=@Url.Action("Contact", "Home")>Contact-Us</a></li>
                        <li id=""><a href="faq.html">FAQ</a></li>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/vasuda-template/script")
    @RenderSection("scripts", required: false)

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    -->
</body>
</html>
