@using VasudaDataAccess.Utility
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Dashboard - @ViewBag.Title</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">

    <!-- jQuery -->
    <script src="~/admin-lte/plugins/jquery/jquery.min.js"></script>
    <script src="https://checkout.flutterwave.com/v3.js"></script>
    @Styles.Render("~/admin-lte/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">

        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <a href=@Url.Action("Index", "Home") class="nav-link">Home</a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <a href="@Url.Action("TrackOrder", "Store")" class="nav-link">Track Order</a>
                </li>
            </ul>

            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="@Url.Action("Cart", "Store")"><i class="nav-link fas fa-shopping-cart" aria-hidden="true"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href=@Url.Action("LogOff", "Account")>Log Out</a>
                </li>
            </ul>
        </nav>
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a href=@Url.Action("Index", "Dashboard") class="brand-link">
                <img src="~/vasuda-template/images/logo2.png" alt="Vasuda Logo" class="brand-image elevation-3"
                     style="opacity: .8;height:16px">
                <span class="brand-text font-weight-light"></span>
            </a>

            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user panel (optional) -->
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="image">
                        <img src="~/admin-lte/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
                    </div>
                    <div class="info">
                        <a href="#" class="d-block">@User.Identity.Name</a>
                    </div>
                </div>

                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <!-- Add icons to the links using the .nav-icon class
    with font-awesome or any other icon font library -->
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-shopping-cart"></i>
                                <p>
                                    Orders
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="@Url.Action("Index","Order")" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Order Placement</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href=@Url.Action("Orderhistory", "Dashboard") class="nav-link">
                                        <i class="far fa-cart-plus nav-icon"></i>
                                        <p>Order History</p>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="nav-item">
                            <a href=@Url.Action("Wallet", "Dashboard") class="nav-link">
                                <i class="nav-icon far fa-image"></i>
                                <p>
                                    Wallet
                                </p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href=@Url.Action("Transaction", "Dashboard") class="nav-link">
                                <i class="nav-icon far fa-image"></i>
                                <p>
                                    Transaction History
                                </p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href=@Url.Action("Profile", "Dashboard") class="nav-link">
                                <i class="nav-icon fas fa-user-cog"></i>
                                <p>
                                    Profile Management
                                </p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href=@Url.Action("Notification", "Dashboard") class="nav-link">
                                <i class="nav-icon far fa-bell"></i>
                                <p>
                                    Notifications
                                </p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href=@Url.Action("Support", "Dashboard") class="nav-link">
                                <i class="nav-icon fa fa-phone"></i>
                                <p>
                                    Chat Support
                                </p>
                            </a>
                        </li>
                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">

            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            @if (ViewBag.Title == "Home")
                            {
                                <h1 class="m-0 text-dark">Dashboard</h1>
                            }
                            else
                            {
                                <h1 class="m-0 text-dark">@ViewBag.Title</h1>
                            }
                        </div><!-- /.col -->
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                @if (ViewBag.Title == "Home")
                                {
                                    <li class="breadcrumb-item active">@ViewBag.Title</li>
                                }
                                else
                                {
                                    <li class="breadcrumb-item"><a href=@Url.Action("Index", "Dashboard")>Home</a></li>
                                    <li class="breadcrumb-item active">@ViewBag.Title</li>
                                }
                            </ol>
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content-header -->

            @RenderBody()

        </div>
        <!-- /.content-wrapper -->

        <footer class="main-footer text-center">
            <strong>&copy; 2014 - @DateTime.Now.Year, &nbsp;VasudaMall.</strong> All rights reserved.
            <br />Designed by <span><a href="https://www.amplo.com.ng" target="_blank" style="color:#444;font-family:calibri;font-weight:bold;">Amplo IT Solutions</a></span>
        </footer>
    </div>
    <!-- ./wrapper -->
    <div class="Main-loader">
        <div class="spin-loader">
            <div class="loadingio-spinner-spinner-hl80v3974ce">
                <div class="ldio-002z8m7bwq0j8">
                    <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    @Scripts.Render("~/admin-lte/script")
    @RenderSection("scripts", required: false)

</body>
</html>
