@model VasudaDataAccess.DTOs.OrderCheckoutViewModel
@using VasudaDataAccess.Utility
@using VasudaDataAccess.Data_Access.Implementation

@{
    ViewBag.Title = "Checkout";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
    var count = 1;
}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Checkout</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        @if (Model.AllItems.Count == 0)
                        {
                            <h3 style="text-align:center">NO ITEM AVAILABLE FOR CHECKOUT</h3>
                        }
                        else
                        {
                            <table id="checkoutItemTable" class="table table-bordered table-striped table-hover table-sm table-responsive-sm">
                                <thead>
                                    <tr>
                                        <th class="tw3">
                                            <span>
                                                <input type="checkbox" class="checkoutAllItemCheckBtn" />
                                            </span>
                                            Select Item
                                        </th>
                                        <th>Title</th>
                                        <th>Description</th>
                                        <th class="tw6">Quantity</th>
                                        <th class="tw6">Item Price</th>
                                        <th class="tw6">Service Charge</th>
                                        <th class="tw10">Type</th>
                                        <th class="tw10">Status</th>
                                        <th class="tw10">Date Created</th>
                                        <th class="tw10">Action</th>
                                        <th class="tw6">Total Price</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.AllItems)
                                    {
                                        var fpId = "itemFinalpriceCol" + count;
                                        <tr>
                                            <td>
                                                <input type="checkbox" class="checkoutItemCheckBtn" data-id="@item.Id" />
                                            </td>
                                            <td>@item.Title</td>
                                            <td>
                                                @Util.ReduceDescriptionLength(item.Description)
                                            </td>
                                            <td>@item.Quantity</td>
                                            <td>@item.ItemsPrice</td>
                                            <td>@item.ServicePrice</td>
                                            <td>
                                                @if (item.Type == ItemType.PurchaseAndShipping.ToString())
                                                {
                                                    <span>Purchase and Shipping</span>
                                                }
                                                else
                                                {
                                                    @item.Type;
                                                }
                                            </td>
                                            <td>@item.Status</td>
                                            <td>@Util.FormatDate(item.DateCreated)</td>
                                            <td>
                                                <button type="submit" class="btn btn-outline-success btn-sm itemsViewMoreButton" data-id="@item.Id">
                                                    View More
                                                </button><br />
                                                <button type="submit" class="btn btn-outline-danger btn-sm itemsDeleteBtn" data-id="@item.Id">Delete</button>
                                            </td>
                                            <td>@item.TotalPrice</td>
                                        </tr>
                                    }
                                    <tr style="display:none" id="createOrderBtnRow">
                                        <td colspan="11">
                                            <button type="submit" class="btn btn-outline-success btn-sm float-right" id="createOrderFromCheckoutBtn">Create Order</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        }
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
        </div>
    </div>
</section>


@*Items to be checked out to order start*@

<div class="modal fade" id="items-to-confirm-checkout" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Item(s)</h4>
                <button type="button" class="btn btn-outline-success btn-sm" data-dismiss="modal" aria-label="Close">
                    Close
                </button>
            </div>
            <div class="modal-body">
                <h5 style="color:forestgreen">You are about to create order for the items(s) listed below: </h5>

                <table  class="table table-bordered table-striped table-hover table-sm table-responsive-sm">
                    <thead>
                        <tr>
                            <th>SN</th>
                            <th>Title</th>
                            <th>Price</th>
                        </tr>
                    </thead>
                    <tbody id="confirmCheckoutItemsTable">

                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-success btn-sm" id="confirmCreateOrderFromCheckoutBtn" data-dismiss="modal" aria-label="Close">
                    <b>Confirm Create Order</b>
                </button>
            </div>
        </div>
    </div>
</div>

@*Items to be checked out to order end*@