@model VasudaDataAccess.DTOs.OrderHistoryViewModel
@using VasudaDataAccess.Utility
@using VasudaDataAccess.Data_Access.Implementation

@{
    Layout = "~/Views/shared/_LayoutDashboard.cshtml";
    ViewBag.Title = "History";
    var count = 1;
}


<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">ORDER</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        @if (Model.AllOrders.Count == 0)
                        {
                            <h3 style="text-align:center">NO ORDER AVAILABLE</h3>
                        }
                        else
                        {
                            <table id="orderHistoryTable" class="table table-bordered table-striped table-hover table-sm table-responsive-sm">
                                <thead>
                                    <tr>
                                        <th width="10">S/N</th>
                                        <th>Type</th>
                                        <th>Status</th>
                                        <th>Shipping Fee</th>
                                        <th>Total Service Charge</th>
                                        <th>Total Price</th>
                                        <th>DateCreated</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody id="orderHistoryTBody">
                                    @foreach (var order in Model.AllOrders)
                                    {
                                        <tr>
                                            <td>@count</td>
                                            <td>
                                                @if (order.OrderType == ItemType.PurchaseAndShipping.ToString())
                                                {
                                                    <span>Purchase and Shipping</span>
                                                }
                                                else
                                                {
                                                    @order.OrderType;
                                                }
                                            </td>
                                            <td>@Util.OrderStatusEnumConverter(order.Status)</td>
                                            <td>@order.ShippingFee</td>
                                            <td>@order.TotalServiceCharge</td>
                                            <td>@order.TotalPrice</td>
                                            <td>@Util.FormatDate(order.DateCreated)</td>
                                            <td>
                                                <button type="submit"
                                                        class="btn btn-outline-success btn-sm"
                                                        id="orderHistoryViewMoreBtn"
                                                        data-id="@order.Id" data-total="@order.TotalPrice">
                                                    View More
                                                </button>
                                            </td>
                                        </tr>
                                        count++;
                                    }
                                </tbody>
                            </table>
                        }
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
        </div>
    </div>
</section>

@*Purchase order details modal start*@

<div class="modal fade" id="purchase-order-history-info" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Purchase Order Details</h4>
                <button type="button" class="btn btn-outline-success btn-sm" data-dismiss="modal" aria-label="Close">
                    Close
                </button>
            </div>
            <div class="modal-body">
                <table class="table table-bordered table-striped table-hover table-sm table-responsive-sm">
                    <thead>
                        <tr>
                            <th>SN</th>
                            <th>Title</th>
                            <th>Description</th>
                            <th>Product Link</th>
                            <th>Quantity</th>
                            <th>Unit Price</th>
                        </tr>
                    </thead>
                    <tbody id="purchaseOrderDetailsTable">
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-success btn-sm" data-dismiss="modal" aria-label="Close">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>

@*Purchase order details modal end*@

@*Purchase and shipping order details modal start*@

<div class="modal fade" id="purchase-shipping-order-history-info" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Purchase and Shipping Order Details</h4>
                <button type="button" class="btn btn-outline-success btn-sm" data-dismiss="modal" aria-label="Close">
                    Close
                </button>
            </div>
            <div class="modal-body">
                <table class="table table-bordered table-striped table-hover table-sm table-responsive-sm">
                    <thead>
                        <tr>
                            <th>SN</th>
                            <th>Title</th>
                            <th>Description</th>
                            <th>Product Link</th>
                            <th>Quantity</th>
                            <th>Unit Price</th>
                            <th>ReceiverName</th>
                        </tr>
                    </thead>
                    <tbody id="purchaseAndShippingOrderDetailsTable">
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-success btn-sm" data-dismiss="modal" aria-label="Close">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>

@*Purchase and shipping order details modal end*@

@*Domestic order details modal start*@

<div class="modal fade" id="domestic-order-history-info" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Domestic Order Details</h4>
                <button type="button" class="btn btn-outline-success btn-sm" data-dismiss="modal" aria-label="Close">
                    Close
                </button>
            </div>
            <div class="modal-body">
                <table class="table table-bordered table-striped table-hover table-sm table-responsive-sm">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Description</th>
                            <th>Quantity</th>
                            <th>Weight</th>
                            <th>ReceiverName</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody id="domesticOrderDetailsTable">
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-success btn-sm" data-dismiss="modal" aria-label="Close">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>

@*Domestic order details modal end*@

<script>
    $(function () {
        //Add text editor
        $('#compose-textarea').summernote();
    })
    $("#orderHistoryTable").DataTable();
</script>