@model VasudaDataAccess.DTOs.ProfileViewModel
@using VasudaDataAccess.Utility

@{
    Layout = "~/Views/shared/_LayoutDashboard.cshtml";
    ViewBag.Title = "Profile";
    var count = 1;
    var fullName = ""; var email = ""; var phoneNumber = ""; var address = ""; var city = ""; var country = "";
    decimal.TryParse("0", out decimal balance);
    DateTime? dateCreated = null; var mainDateCreated = "";

    if (Model.User != null)
    {
        var User = Model.User;
        fullName = string.IsNullOrEmpty(User.FullName) ? "" : User.FullName;
        email = string.IsNullOrEmpty(User.Email) ? "" : User.Email;
        phoneNumber = string.IsNullOrEmpty(User.PhoneNumber) ? "" : User.PhoneNumber;
        city = string.IsNullOrEmpty(User.City) ? "" : User.City;
        country = string.IsNullOrEmpty(User.Country) ? "" : User.Country;
        address = string.IsNullOrEmpty(User.Address) ? "" : User.Address;
        balance = User.Balance;
        dateCreated = User.DateCreated;
        mainDateCreated = $"{dateCreated.Value.Year}-{dateCreated.Value.Month}-{dateCreated.Value.Day}";
    }
}

<section class="content">
    <div class="container-fluid">
        <!-- Main row -->
        <div class="row">
            <!-- Left col -->
            <div class="col-lg-10 col-sm-12 content">
                <!--Profile display management row start-->
                <div class="row">
                    <!--Profile display col start-->
                    <div class="col-lg-4 col-sm-12 container-fluid">
                        <!-- Profile Image -->
                        <div class="card card-info card-outline">
                            <div class="card-body box-profile">
                                <ul class="list-group list-group-unbordered mb-3">
                                    <li class="list-group-item row">
                                        <b>Full Name</b>
                                        <a class="float-right" id="fullNameProfile">@fullName</a>
                                    </li>
                                    <li class="list-group-item">
                                        <b>Email</b>
                                        <a class="float-right" id="emailProfile">@email</a>
                                    </li>
                                    <li class="list-group-item">
                                        <b>Phone Number</b> <a class="float-right" id="phoneNumberProfile">@phoneNumber</a>
                                    </li>
                                    <li class="list-group-item">
                                        <b>Account Balance</b> <a class="float-right" id="balanceProfile">@balance</a>
                                    </li>
                                    <li class="list-group-item row">
                                        <b class="col-12">Address</b>
                                        <a class="float-right col-12" id="addressProfile">@address</a>
                                    </li>
                                    <li class="list-group-item">
                                        <b>City</b> <a class="float-right" id="cityProfile">@city</a>
                                    </li>
                                    <li class="list-group-item">
                                        <b>Country</b> <a class="float-right" id="countryProfile">@country</a>
                                    </li>
                                    <li class="list-group-item">
                                        <b>Registered</b> <a class="float-right" id="registeredProfile">@Util.FormatDate(dateCreated.Value)</a>
                                    </li>
                                </ul>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                    <!--Profile display col end-->
                    <!--Profile management col start-->
                    <div class="col-lg-8 col-sm-12 px-3">
                        <!--Profile row start-->
                        <div class="card card-info card-outline card-outline-tabs">
                            <div class="card-header p-0 border-bottom-0">
                                <ul class="nav nav-tabs" id="custom-tabs-four-tab" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link" id="edit-profile-tab" data-toggle="pill" href="#edit-profile" role="tab" aria-controls="custom-tabs-four-profile" aria-selected="false"><i class="fa fa-user d-md-none"></i><span class="d-none d-md-inline">Edit Profile</span></a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link active" id="change-password-tab" data-toggle="pill" href="#change-password" role="tab" aria-controls="custom-tabs-four-home" aria-selected="true"><i class="fas fa-key d-md-none"></i><span class="d-none d-md-inline">Change Password</span></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="card-body">
                                <div class="tab-content" id="custom-tabs-four-tabContent">
                                    <!--Edit profile start-->
                                    <div class="tab-pane fade" id="edit-profile" role="tabpanel" aria-labelledby="edit-profile-tab">
                                        <!-- Edit profile Form start-->
                                        <div class="card card-info">
                                            <!-- form start -->
                                            <form class="form-horizontal" id="editUserProfileForm">
                                                <div class="card-body">
                                                    <div class="form-group">
                                                        <label for="fullName">Full Name</label>
                                                        <input type="text" class="form-control form-control-sm" id="fullName" value="@fullName" placeholder="Full Name">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="phoneNumber">Phone Number</label>
                                                        <input type="text" class="form-control form-control-sm" id="phoneNumber" value="@phoneNumber" placeholder="Phone Number">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="address">Address</label>
                                                        <input type="text" class="form-control form-control-sm" id="address" value="@address" placeholder="Address">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="city">City</label>
                                                        <input type="text" class="form-control form-control-sm" id="city" value="@city" placeholder="City">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="country">Country</label>
                                                        <input type="text" class="form-control form-control-sm" id="country" value="@country" placeholder="Country">
                                                    </div>
                                                </div>
                                                <!-- /.card-body -->
                                                <div class="card-footer">
                                                    <button type="button" class="btn btn-info btn-sm" id="editUserProfileBtn">Update</button>
                                                </div>
                                                <!-- /.card-footer -->
                                            </form>
                                        </div>
                                        <!-- Edit profile Form start-->
                                        <!-- /.card -->
                                    </div>
                                    <!--Edit profile end-->
                                    <!--Change Password start-->
                                    <div class="tab-pane fade show active" id="change-password" role="tabpanel" aria-labelledby="change-password-tab">
                                        <!-- change password Form start-->
                                        <div class="card card-info">
                                            <!-- form start -->
                                            <form class="form-horizontal" id="changePasswordForm">
                                                <div class="card-body">
                                                    <div class="form-group">
                                                        <label for="oldPassword">Old Password</label>
                                                        <input type="password" class="form-control form-control-sm" id="oldPassword" placeholder="Old Password" data-formname="Old Password" required>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="newPassword">New Password</label>
                                                        <input type="password" class="form-control form-control-sm" id="newPassword" placeholder="New Password" data-formname="New Password" required>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="confirmNewPassword">Confirm New Password</label>
                                                        <input type="password" class="form-control form-control-sm" id="confirmNewPassword" placeholder="Confirm New Password" data-formname="Confirm New Password" required>
                                                    </div>
                                                </div>
                                                <!-- /.card-body -->
                                                <div class="card-footer">
                                                    <button type="button" class="btn btn-info btn-sm" id="changePasswordBtn">Change Password</button>
                                                </div>
                                                <!-- /.card-footer -->
                                            </form>
                                        </div>
                                        <!-- change password Form start-->
                                        <!-- /.card -->
                                    </div>
                                    <!--Change Password end-->

                                </div>
                            </div>
                        </div>

                        <!--Profile /.card end -->
                        <!--Profile row end-->
                    </div>
                    <!--Profile management col end-->
                </div>
                <!--Profile display management row end-->
                <!--Notification table row start-->
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Most Recent News/Notifications</h3>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                @if (Model.RecentNotifications.Count == 0)
                                {
                                    <h3 style="text-align:center">YOU HAVE NO RECENT NOTIFICATIONS</h3>
                                }
                                else
                                {
                                    <table id="recentNotificationTable" class="table table-bordered table-striped table-hover">
                                        <thead>
                                            <tr>
                                                <th>S/N</th>
                                                <th>Subject</th>
                                                <th>Date Published</th>
                                                <th>Read Status</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody class="notificationTBody">
                                            @foreach (var recentNotification in Model.RecentNotifications)
                                            {
                                                <tr>
                                                    <td>@count</td>
                                                    <td>@recentNotification.Subject</td>
                                                    <td>@Util.FormatDate(recentNotification.DateCreated)</td>
                                                    <td>@recentNotification.IsRead</td>
                                                    <td>
                                                        @if (recentNotification.IsRead)
                                                        {
                                                            <button type="button"
                                                                    class="btn btn-outline-success btn-sm viewMoreNotificationBtn"
                                                                    data-id="@recentNotification.Id">
                                                                View More
                                                            </button>
                                                        }
                                                        else
                                                        {
                                                            <button type="button"
                                                                    class="btn btn-outline-danger btn-sm viewMoreNotificationBtn"
                                                                    data-id="@recentNotification.Id">
                                                                View More
                                                            </button>
                                                        }
                                                    </td>
                                                </tr>
                                                count++;
                                            }
                                        </tbody>
                                    </table>
                                }
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                </div>
                <!--Notification table row end-->
            </div>
            <!-- /.Left col -->
            <!-- right col -->
            <div class="col-lg-2 col-sm-12 connectedSortable">
                <h2>ADVERTS</h2>
            </div>
            <!-- /.right col -->
        </div>
        <!-- /.row (main row) -->
    </div>
    <!--containre-fluid end-->
</section>


<script>
    $(function () {
        //Initialize Select2 Elements
        $('.select2').select2()
        //Initialize Select2 Elements
        $('.select2bs4').select2({
            theme: 'bootstrap4'
        })
    });

    $("#recentNotificationTable").DataTable();
</script>