@*@model VasudaDataAccess.DTOs.SupportViewModel
    @{
        ViewBag.Title = "Support";
        Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
    }

    <div class="card direct-chat direct-chat-primary">
        <div class="card-body">
             Conversations are loaded here
            <div class="direct-chat-messages">
                 Message. Default to the left
                <div class="direct-chat-msg">
                    <div class="direct-chat-infos clearfix">
                        <span class="direct-chat-name float-left">Admin</span>
                        <span class="direct-chat-timestamp float-right">23 Jan 2:00 pm</span>
                    </div>
                     /.direct-chat-infos
                    <img class="direct-chat-img" src="dist/img/user1-128x128.jpg" alt="message user image">
                     /.direct-chat-img
                    <div class="direct-chat-text">
                        Is this template really for free? That's unbelievable!
                    </div>
                     /.direct-chat-text
                </div>
                 /.direct-chat-msg
                 Message to the right
                <div class="direct-chat-msg right">
                    <div class="direct-chat-infos clearfix">
                        <span class="direct-chat-name float-right">Sarah Bullock</span>
                        <span class="direct-chat-timestamp float-left">23 Jan 2:05 pm</span>
                    </div>
                     /.direct-chat-infos
                    <img class="direct-chat-img" src="dist/img/user3-128x128.jpg" alt="message user image">
                     /.direct-chat-img
                    <div class="direct-chat-text">
                        You better believe it!
                    </div>
                     /.direct-chat-text
                </div>
                 /.direct-chat-msg
                 Message. Default to the left
                <div class="direct-chat-msg">
                    <div class="direct-chat-infos clearfix">
                        <span class="direct-chat-name float-left">Alexander Pierce</span>
                        <span class="direct-chat-timestamp float-right">23 Jan 5:37 pm</span>
                    </div>
                     /.direct-chat-infos
                    <img class="direct-chat-img" src="dist/img/user1-128x128.jpg" alt="message user image">
                     /.direct-chat-img
                    <div class="direct-chat-text">
                        Working with AdminLTE on a great new app! Wanna join?
                    </div>
                     /.direct-chat-text
                </div>
                 /.direct-chat-msg
                 Message to the right
                <div class="direct-chat-msg right">
                    <div class="direct-chat-infos clearfix">
                        <span class="direct-chat-name float-right">Sarah Bullock</span>
                        <span class="direct-chat-timestamp float-left">23 Jan 6:10 pm</span>
                    </div>
                     /.direct-chat-infos
                    <img class="direct-chat-img" src="dist/img/user3-128x128.jpg" alt="message user image">
                     /.direct-chat-img
                    <div class="direct-chat-text">
                        I would love to.
                    </div>
                     /.direct-chat-text
                </div>
                 /.direct-chat-msg

            </div>
            /.direct-chat-messages
             Contacts are loaded here
            <div class="direct-chat-contacts">
                <ul class="contacts-list">
                    <li>
                        <a href="#">
                            <img class="contacts-list-img" src="dist/img/user1-128x128.jpg">

                            <div class="contacts-list-info">
                                <span class="contacts-list-name">
                                    Count Dracula
                                    <small class="contacts-list-date float-right">2/28/2015</small>
                                </span>
                                <span class="contacts-list-msg">How have you been? I was...</span>
                            </div>
                             /.contacts-list-info
                        </a>
                    </li>
                     End Contact Item
                    <li>
                        <a href="#">
                            <img class="contacts-list-img" src="dist/img/user7-128x128.jpg">

                            <div class="contacts-list-info">
                                <span class="contacts-list-name">
                                    Sarah Doe
                                    <small class="contacts-list-date float-right">2/23/2015</small>
                                </span>
                                <span class="contacts-list-msg">I will be waiting for...</span>
                            </div>
                             /.contacts-list-info
                        </a>
                    </li>
                     End Contact Item
                    <li>
                        <a href="#">
                            <img class="contacts-list-img" src="dist/img/user3-128x128.jpg">

                            <div class="contacts-list-info">
                                <span class="contacts-list-name">
                                    Nadia Jolie
                                    <small class="contacts-list-date float-right">2/20/2015</small>
                                </span>
                                <span class="contacts-list-msg">I'll call you back at...</span>
                            </div>
                             /.contacts-list-info
                        </a>
                    </li>
                     End Contact Item
                    <li>
                        <a href="#">
                            <img class="contacts-list-img" src="dist/img/user5-128x128.jpg">

                            <div class="contacts-list-info">
                                <span class="contacts-list-name">
                                    Nora S. Vans
                                    <small class="contacts-list-date float-right">2/10/2015</small>
                                </span>
                                <span class="contacts-list-msg">Where is your new...</span>
                            </div>
                             /.contacts-list-info
                        </a>
                    </li>
                     End Contact Item
                    <li>
                        <a href="#">
                            <img class="contacts-list-img" src="dist/img/user6-128x128.jpg">

                            <div class="contacts-list-info">
                                <span class="contacts-list-name">
                                    John K.
                                    <small class="contacts-list-date float-right">1/27/2015</small>
                                </span>
                                <span class="contacts-list-msg">Can I take a look at...</span>
                            </div>
                             /.contacts-list-info
                        </a>
                    </li>
                     End Contact Item
                    <li>
                        <a href="#">
                            <img class="contacts-list-img" src="dist/img/user8-128x128.jpg">

                            <div class="contacts-list-info">
                                <span class="contacts-list-name">
                                    Kenneth M.
                                    <small class="contacts-list-date float-right">1/4/2015</small>
                                </span>
                                <span class="contacts-list-msg">Never mind I found...</span>
                            </div>
                             /.contacts-list-info
                        </a>
                    </li>
                     End Contact Item
                </ul>
                 /.contacts-list
            </div>
             /.direct-chat-pane
        </div>
         /.card-body
        <div class="card-footer">
            <form action="#" method="post">
                <div class="input-group">
                    <input type="text" name="message" placeholder="Type Message ..." class="form-control">
                    <span class="input-group-append">
                        <button type="button" class="btn btn-primary">Send</button>
                    </span>
                </div>
            </form>
        </div>
         /.card-footer
    </div>
    /.direct-chat*@

@using Microsoft.Ajax.Utilities
@model List<VasudaDataAccess.Model.SupportTable>
@{
    ViewBag.Title = "Support";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->


<html>
<head>
    <link href="~/Content/chatting.css" rel="stylesheet" />

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" type="text/css" rel="stylesheet"

</head>
<body>
    <div class="container">
        <div class="messaging">
            <div class="inbox_msg">
                <div class="inbox_people">
                    <div class="headind_srch">
                        <div class="recent_heading">
                            <h4>Recent</h4>
                        </div>
                        <div class="srch_bar">
                            <div class="stylish-input-group">
                                <input type="text" class="search-bar" placeholder="Search">
                                <span class="input-group-addon">
                                    <button type="button"> <i class="fa fa-search" aria-hidden="true"></i> </button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="inbox_chat">
                        @{
                            var sortedModel = Model.OrderByDescending(x => x.DateCreated).DistinctBy(x => x.UserId).ToList();
                        }
                        @foreach (var item in sortedModel)
                        {
                            <a href="#" class="LoadMsg" data-id="@item.UserId">
                                <div class="chat_list active_chat">
                                    <div class="chat_people">
                                        <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                                        <div class="chat_ib">
                                            <h5>@item.AspNetUser.FullName <span class="chat_date">@item.DateCreated</span></h5>
                                            <p>
                                                @if (item.Message.Length > 120)
                                                {
                                                    @item.Message.Substring(0, 120)

                                                }
                                                else
                                                {
                                                    @item.Message
                                                }
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        }

                    </div>
                </div>
                <div class="mesgs">
                    <div class="msg_history" id="MessageHistory">

                    </div>
                    <div class="type_msg">
                        <div class="input_msg_write">
                            <input type="hidden" id="HiddenUserId" />
                            <input type="text" class="write_msg" id="ChatBox" placeholder="Type a message" />
                            <button class="msg_send_btn" id="SubmitChat" disabled type="submit"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</body>
</html>
