@model VasudaDataAccess.DTOs.WalletViewModel
@using VasudaDataAccess.Utility
@using VasudaDataAccess.Data_Access.Implementation
@{
    Layout = "~/Views/shared/_LayoutDashboard.cshtml";
    ViewBag.Title = "Wallet";
    var count = 1;
}

<!--Main Content start-->
<section class="content">
    <div class="container-fluid">
        <!--Main Content start-->
        <!--Withdrawal and exchange rate row start-->
        <div class="row">
            <!--Withdrawal col(left-side) start-->
            <div class="col-12 col-lg-7">
                <div class="row">
                    <div class="col-12">
                        <div class="card card-green card-outline card-outline-tabs">
                            <div class="card-header p-0 border-bottom-0">
                                <ul class="nav nav-tabs" id="custom-tabs-four-tab" role="tablist">

                                    <li class="nav-item">
                                        <a class="nav-link" id="funding-tab" data-toggle="pill" href="#fund-account" role="tab" aria-controls="custom-tabs-four-profile" aria-selected="false"><i class="fas fa-wallet d-md-none"></i><span class="d-none d-md-inline">Fund Account</span></a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link active" id="withdrawal-account-list-tab" data-toggle="pill" href="#withdrawal-account-list" role="tab" aria-controls="custom-tabs-four-home" aria-selected="true"><i class="fas fa-key d-md-none"></i><span class="d-none d-md-inline">Withdrawal Account(s)</span></a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="withdrawal-account-tab" data-toggle="pill" href="#withdrawal-account" role="tab" aria-controls="custom-tabs-four-profile" aria-selected="false"><i class="fas fa-wallet d-md-none"></i><span class="d-none d-md-inline">Add Bank Account</span></a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="make-withdrawal-tab" data-toggle="pill" href="#make-withdrawal" role="tab" aria-controls="custom-tabs-four-profile" aria-selected="false"><i class="fas fa-wallet d-md-none"></i><span class="d-none d-md-inline">Make Withdrawal</span></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="card-body">
                                <div class="tab-content" id="custom-tabs-four-tabContent">
                                    <!--Withdrawal account list start-->
                                    <div class="tab-pane fade show active" id="withdrawal-account-list" role="tabpanel" aria-labelledby="withdrawal-account-list-tab">
                                        <!-- Withdrawal account list table start-->
                                        <div class="card">
                                            <div class="card-header">
                                                <h3 class="card-title">Withdrawal Account(s)</h3>
                                            </div>
                                            <!-- /.card-header -->
                                            <div class="card-body">
                                                <table id="withdrawalAccountListTable" class="table table-bordered table-striped table-hover table-sm">
                                                    <thead>
                                                        <tr>
                                                            <th>S/N</th>
                                                            <th>Account Name</th>
                                                            <th>Account Number</th>
                                                            <th>Bank</th>
                                                            <th>Options</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="withdrawalAccounttr">
                                                        @if (Model.WithdrawalAccounts.Count == 0)
                                                        {
                                                            <tr> <td colspan="5">  <h3 style="text-align:center"> NO WITHDRAWAL ACCOUNT ADDED</h3></td></tr>

                                                        }
                                                        else
                                                        {
                                                            foreach (var withdrawalAccount in Model.WithdrawalAccounts)
                                                            {

                                                                <tr>
                                                                    <td>@count</td>
                                                                    <td>@withdrawalAccount.AccountName</td>
                                                                    <td>@withdrawalAccount.AccountNumber</td>
                                                                    <td>@withdrawalAccount.BankName</td>
                                                                    <td><button data-id="@withdrawalAccount.Id" class="btn btn-danger removeCard">Delete</button></td>
                                                                </tr>

                                                                count++;

                                                            }
                                                        }

                                                    </tbody>
                                                </table>

                                            </div>
                                            <!-- /.card-body -->
                                        </div>
                                        <!-- Withdrawal account list table end-->
                                        <!-- /.card -->
                                    </div>
                                    <!--Withdrawal account list end-->
                                    <!--Withdrawal Account Add start-->
                                    <div class="tab-pane fade" id="withdrawal-account" role="tabpanel" aria-labelledby="withdrawal-account-tab">
                                        <!-- withdrawal account Form start-->
                                        <div class="card card-info">
                                            <!-- form start -->
                                            <form class="form-horizontal" id="setWithdrawalAccountForm">
                                                <div class="card-body">
                                                    <div class="form-group">
                                                        <label>Bank Name</label>
                                                        <select class="form-control select2" style="width: 100%;" id="banksList" data-formname="Bank Name" required>
                                                            <option value="" selected>Select Bank</option>

                                                            @foreach (var bank in Model.Banks)
                                                            {
                                                                <option value="@bank.BankCode">@bank.BankName</option>
                                                            }
                                                        </select>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="accountNumber">Account Number</label>
                                                        <input type="text" class="form-control form-control-sm" data-formname="Account Number" id="accountNumber" placeholder="Account Number" required>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="accountName">Account Name</label>
                                                        <input type="text" class="form-control form-control-sm" data-formname="Account Name" readonly id="accountName" placeholder="Account Name" required>
                                                    </div>
                                                </div>
                                                <!-- /.card-body -->
                                                <div class="card-footer">
                                                    <button type="button" class="btn btn-info" id="setWithdrawalAccountButton">Add Account</button>
                                                </div>
                                                <!-- /.card-footer -->
                                            </form>
                                        </div>
                                        <!-- Withdrawal account Form start-->
                                        <!-- /.card -->
                                    </div>
                                    <!--Withdrawal Account Add end-->
                                    <!--Make Withdrawal start-->
                                    <div class="tab-pane fade" id="make-withdrawal" role="tabpanel" aria-labelledby="make-withdrawal-tab">
                                        <!--Make withdrawal Form start-->
                                        <div class="card card-info">
                                            <!--Form start -->
                                            <form class="form-horizontal" id="makeWithdrawalForm">
                                                <div class="card-body">
                                                    <div class="form-group">
                                                        <label for="accountBalance">Account Balance</label>
                                                        <input type="text" class="form-control form-control-sm" value="@Model.DollarBal" id="accountBalance" placeholder="Account Balance" readonly>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="exchangeRate">Exchange Rate</label>
                                                        <input type="text" class="form-control form-control-sm" id="exchangeRate" value="@Model.DollarToNairaRate" placeholder="Exchange Rate" readonly>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="withdrawalAmount">Naira Amount</label>
                                                        <input type="number" class="form-control form-control-sm convert" data-baltxt="withdrawalAmount" required data-formname="Withdrawal Amount" id="NairaAmount" placeholder="Enter amount in naira">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="withdrawalAmount">Withdrawal Amount</label>
                                                        <input type="text" class="form-control form-control-sm" required data-formname="Withdrawal Amount" readonly id="withdrawalAmount" placeholder="Enter withdrawal amount">
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Destination Account</label><br />
                                                        <select class="form-control-sm select2" style="width: 100%;" required data-formname="Bank Account" id="withdrawalAccountsList">
                                                            <option value="" selected>Select Withdrawal Account</option>

                                                            @foreach (var account in Model.WithdrawalAccounts)
                                                            {
                                                                <option value="@account.Id">@account.AccountNumber @account.BankName</option>
                                                            }
                                                        </select>
                                                    </div>
                                                </div>
                                                <!-- /.card-body -->
                                                <div class="card-footer">
                                                    <button type="button" id="SubmitRequest" class="btn btn-info">Submit Request</button>
                                                </div>
                                                <!-- /.card-footer -->
                                            </form>
                                        </div>
                                        <!--Make Withdrawal Form end-->
                                        <!-- /.card -->
                                    </div>
                                    <!--Make withdrawal end-->
                                    <!--Make Withdrawal start-->
                                    <div class="tab-pane fade" id="fund-account" role="tabpanel" aria-labelledby="make-withdrawal-tab">
                                        <!--Make withdrawal Form start-->
                                        <!--Make withdrawal Form start-->
                                        <div class="card card-info">
                                            <!--Form start -->
                                            <form id="fundingForm">
                                                <div class="card-body">
                                                    <div class="form-group">
                                                        <label>Channel</label><br />
                                                        <select class="form-control-sm select2" style="width: 100%;" id="PaymentChannel">
                                                            <option value="Online">Online</option>
                                                            <option value="BankDeposit">Bank Transfer</option>
                                                        </select>
                                                    </div>


                                                    <div class="form-group" id="BankDiv" style="display:none">
                                                        <label>Bank</label> <br />
                                                        <select class="form-control-sm select2" style="width: 100%;" id="SystemAccount">
                                                            <option value="" selected>Select Bank for deposits</option>
                                                            @foreach (var item in Model.SystemAccounts)
                                                            {
                                                                <option value="@item.BankName||@item.AccountName||@item.AccountNumber||@item.Id">@item.BankName</option>
                                                            }
                                                        </select>
                                                    </div>
                                                    <div class="form-group" id="SystemBankDiv" style="Display:none">
                                                        <label id="bankName"></label><br />
                                                        <label id="SystemaccountNumber"></label><br />
                                                        <label id="SystemaccountName"></label>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="accountBalance">Amount</label>
                                                        <input type="text" class="form-control form-control-sm convert" data-baltxt="dollarsField" required data-formname="Amount" id="fundingAmount" placeholder="Amount">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="exchangeRate">Exchange Rate</label>
                                                        <input type="text" class="form-control form-control-sm" value="@Model.DollarToNairaRate" id="excha" placeholder="Exchange Rate" readonly>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="withdrawalAmount">Dollars Amount</label>
                                                        <input type="text" class="form-control form-control-sm" id="dollarsField" placeholder="Enter amount in naira">
                                                    </div>

                                                    <div class="form-group" id="PamentNarration" style="display:none">
                                                        <label for="withdrawalAmount">Payment Narration</label>
                                                        <input type="text" class="form-control form-control-sm" id="Narration" placeholder="Enter naration">
                                                    </div>

                                                </div>
                                                <!-- /.card-body -->
                                                <div class="card-footer">
                                                    <button type="button" id="FundBtn" class="btn btn-info">Fund wallet</button>
                                                </div>
                                                <!-- /.card-footer -->

                                            </form>
                                        </div>
                                        <!--Make Withdrawal Form end-->
                                        <!-- /.card -->
                                    </div>
                                    <!--Make withdrawal end-->
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Profile /.card end -->
                </div>
            </div>
            <!--withdrawal col(left-side) end-->
            <!--Right-side col start-->
            <div class="col-12 col-lg-5">
                <!--Exchange rate col start-->
                <div class="col-12">
                    <div class="card card-green card-outline">
                        <div class="card-header">
                            <h2 class="card-title">Today's Exchange Rate</h2>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            @if (Model.ExchangeRates.Count == 0)
                            {
                                <h3 style="text-align:center">NO EXCHANGE RATE AVAILABLE</h3>
                            }
                            else
                            {
                                <table id="exchangeRateable" class="table table-bordered table-striped table-hover table-sm">
                                    <thead>
                                        <tr>
                                            <th>Base Currency</th>
                                            <th>Converted Currency</th>
                                            <th>Rate</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.ExchangeRates)
                                        {

                                            <tr>
                                                <td>@item.BaseCurrency</td>
                                                <td>@item.ConvertedCurrency</td>
                                                <td>@item.Rate</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            }
                        </div>
                    </div>
                    <!--Exchange rate /.card-body end-->
                    <!-- /.card -->
                </div>
                <!--Exchange rate col end-->
                <!--Currency converter col start-->
                <div class="col-12">
                    <!-- Currency converter Form start-->
                    <div class="card card-green card-outline">
                        <div class="card-header">
                            <h2>Balance</h2>
                        </div>
                        <!-- form start -->
                        <form class="form-horizontal">
                            <div class="card-body">
                                <div class="form-group row">
                                    <label for="nairaBalance" class="col-12 col-md-3 col-form-label-sm">Naira Balance</label>
                                    <div class="col-12 col-md-9">
                                        <input type="text" class="form-control form-control-sm" id="nairaBalance" value="@Model.NairaBal" placeholder="Naira Balance" readonly>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="yuanBalance" class="col-12 col-md-3 col-form-label-sm">Yuan Balance</label>
                                    <div class="col-12 col-md-9">
                                        <input type="text" class="form-control form-control-sm" value="@Model.YuanBal" id="yuanBalance" placeholder="Yuan Balance" readonly>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-12 col-md-3 col-form-label-sm">Dollar Balance</label>
                                    <div class="col-12 col-md-9">
                                        <input type="text" class="form-control form-control-sm" value="@Model.DollarBal" id="DollarBalance" placeholder="Yuan Balance" readonly>

                                    </div>
                                </div>
                            </div>
                            <!-- /.card-body -->
                            @*<div class="card-footer">
                                    <button type="submit" class="btn btn-info">Add Account</button>
                                </div>*@
                            <!-- /.card-footer -->
                        </form>
                    </div>
                    <!-- Currency converter Form end-->
                    <!-- /.card -->
                </div>
                <!--Currency converter col end-->
            </div>
            <!--Right-side col end-->
        </div>
        <!--Withdrawal and exchange rate row end-->
        <!--Recent Transaction start-->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Recent Transactions</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        @if (Model.PaymentHistory.Count == 0)
                        {
                            <h3 style="text-align:center">NO RECENT TRANSACTION</h3>
                        }
                        else
                        {
                            <table id="recentTransactionsTable" class="table table-bordered table-striped table-hover table-sm">
                                <thead>
                                    <tr>
                                        <th>S/N</th>
                                        <th>Amount</th>
                                        <th>Type</th>
                                        <th>Purpose</th>
                                        <th>Date</th>
                                        <th>Status</th>
                                        @*<th>Action</th>*@
                                    </tr>
                                </thead>
                                <tbody>
                                    @{ count = 1;}
                                    @foreach (var recentTransaction in Model.PaymentHistory)
                                    {

                                        <tr>
                                            <td>@count</td>
                                            <td>@recentTransaction.Amount</td>
                                            @if (recentTransaction.TransactionType == PaymentHistoryType.Debit.ToString())
                                            {
                                                <td style="color:red">@recentTransaction.TransactionType</td>
                                            }
                                            else
                                            {
                                                <td style="color:forestgreen">@recentTransaction.TransactionType</td>   
                                            }
                                            <td>@recentTransaction.Purpose</td>
                                            <td>@Util.FormatDate(recentTransaction.DateCreated)</td>
                                            <td>@recentTransaction.Status</td>
                                            @*<td><button type="submit" class="btn btn-outline-success btn-sm">View More</button></td>*@
                                        </tr>
                                        count++;
                                    }
                                </tbody>
                            </table>
                        }
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
        </div>
        <!--Recent Transaction end-->
        <!--Main Content end-->
    </div>
</section>
<!--Main Content end-->

<script>
    $("#recentTransactionsTable").DataTable();
    $("#withdrawalAccountListTable").DataTable();
</script>
