
@{
    ViewBag.Title = "Product";
    Layout = "~/Views/shared/_Layout.cshtml";
}

<section class="row">
    <div class="slide2">
        <div class="skitter skitter-large skit2" style="max-height:400px">
            <ul>
                <li>
                    <a href="#cut">
                        <img src="~/vasuda-template/images/style.jpg" class="cut" />
                    </a>
                    <div class="label_text" style="font-family:;">
                        <p>
                            <div class="animated fadeInDown" id="title" style="color:#000">
                                <b>Fashion</b>
                            </div>
                        </p>
                    </div>
                </li>
                <li>
                    <a href="#swapBarsBack">
                        <img src="~/vasuda-template/images/aa.jpg" class="swapBarsBack" />
                    </a>
                    <div class="label_text" style="font-family:;">
                        <p>
                            <div class="animated fadeInDown" id="title" style="font-family:roboto slab;color:#000;"><b>Tech & Security</b></div>
                        </p>
                    </div>
                </li>
                <li>
                    <a href="#swapBarsBack">
                        <img src="~/vasuda-template/images/cc.jpg" class="swapBarsBack" />
                    </a>
                    <div class="label_text" style="font-family:montserrat bold;">
                        <p>

                            <div class="animated fadeInDown" id="title" style="font-family:roboto slab;color:#000;"><b>Health</b></div>
                        </p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>
<section class="row" style="background:#f0f0f0">
    <div class="offset-lg-1 col-lg-10 section-title oc">
        Our <b>Categories</b>
    </div>
    <div class="offset-lg-1 col-lg-10 ">
        <div class="row">
            <div class="col-lg-2 cat-tab">
                <div class="overlay">
                </div>
                <div class="store-name">
                    Babies<br />
                    <a href="about.html" class="btn btn-xs btn-warning" style="margin-top:5px;padding:8px;font-size:0.6em">Shop Now</a>
                </div>
                <img src="~/vasuda-template/images/aa.jpg" />
            </div>
            <div class="col-lg-2 cat-tab">
                <div class="overlay">
                </div>
                <div class="store-name">
                    Health<br />
                    <a href="about.html" class="btn btn-xs btn-warning" style="margin-top:5px;padding:8px;font-size:0.6em">Shop Now</a>
                </div>
                <img src="~/vasuda-template/images/aa.jpg" />
            </div>
            <div class="col-lg-2 cat-tab">
                <div class="overlay">
                </div>
                <div class="store-name">
                    Fashion<br />
                    <a href="about.html" class="btn btn-xs btn-warning" style="margin-top:5px;padding:8px;font-size:0.6em">Shop Now</a>
                </div>
                <img src="~/vasuda-template/images/aa.jpg" />
            </div>
            <div class="col-lg-2 cat-tab">
                <div class="overlay">
                </div>
                <div class="store-name">
                    Mechanical<br />
                    <a href="about.html" class="btn btn-xs btn-warning" style="margin-top:5px;padding:8px;font-size:0.6em">Shop Now</a>
                </div>
                <img src="~/vasuda-template/images/aa.jpg" />
            </div>
            <div class="col-lg-2 cat-tab">
                <div class="overlay">
                </div>
                <div class="store-name">
                    Household<br />
                    <a href="about.html" class="btn btn-xs btn-warning" style="margin-top:5px;padding:8px;font-size:0.6em">Shop Now</a>
                </div>
                <img src="~/vasuda-template/images/aa.jpg" />
            </div>
            <div class="col-lg-2 cat-tab">
                <div class="overlay">
                </div>
                <div class="store-name">
                    Tech<br />
                    <a href="about.html" class="btn btn-xs btn-warning" style="margin-top:5px;padding:8px;font-size:0.6em">Shop Now</a>
                </div>
                <img src="~/vasuda-template/images/aa.jpg" />
            </div>
        </div>
    </div>
    <div class="offset-lg-1 col-lg-10 section-title">

    </div>
    <div class="offset-lg-1 col-lg-10 products">
        <div class="row">

            @*@foreach (var item in Model.TopStory)
            {
                var path = @item?.ImageTables?.FirstOrDefault()?.Path ?? "~/vasuda-template/images/aa.jpg";
                <form class="p-tab popular">
                    <div class="p-image topTrend">
                        <img src="@Url.Content(path)" width="300" />
                    </div>
                    <div class="p-name">@item.Title</div>

                    <div class="p-price">
                        $ @item.Price
                        <span class="float-right">
                            Available: @item.Quantity
                        </span>
                    </div>
                    <div class="form-group row">
                        <label class="col-3"><b>Quantity: </b></label>
                        <span>
                            <input type="number" class="form-control form-control-sm col-4 productQuantity" value="1" min="1" />
                        </span>
                    </div>
                    <button type="button" data-id="@item.Id" class="btn btn-outline-primary btn-sm float-right mt-0 addProductBtn">
                        <i class="fas fa-cart-plus fa-lg mr-2"></i>
                        Add to Checkout
                    </button>
                </form>

            }*@

        </div>
    </div>
    <div class="offset-lg-4 col-lg-4 load">
        <i class="fas fa-plus-circle" aria-hidden="true"></i><br />Load More
    </div>
</section>

