@model VasudaMall.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

@*<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Enter your email.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Email Link" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@

<section class="row">
    <div class="slide">
        <div class="overlay2"></div>
        <div class="animated fadeInUp overlay-title" id="title2" style="color:#ccc">
            <b>Password Reset</b>
        </div>
        <div class="col-lg-5 message-form">
            @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <input type="text" class="col-lg-11" name="@Html.NameFor(x=>x.Email)" placeholder="Email Address">
                <button type="submit" class="col-lg-5">Submit</button>
                <br/>
                <br/>
            }
            <span style="color: red">@Html.ValidationSummary()</span><br/>
            Don't have an account yet?, <a href=@Url.Action("Register", "Account")>Register</a>
            <hr/>
            
        </div>
        <img src="~/vasuda-template/images/mv.jpg" />
    </div>
</section>
