@using System.Web.UI.WebControls
@using VasudaMall.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

@*    <h2>@ViewBag.Title.</h2>
    <div class="row">
        <div class="col-md-8">
            <section id="loginForm">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <h4>Use a local account to log in.</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <div class="checkbox">
                                @Html.CheckBoxFor(m => m.RememberMe)
                                @Html.LabelFor(m => m.RememberMe)
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Log in" class="btn btn-default" />
                        </div>
                    </div>
                    <p>
                        @Html.ActionLink("Register as a new user", "Register")
                    </p>
                     Enable this once you have account confirmation enabled for password reset functionality
                        <p>
                            @Html.ActionLink("Forgot your password?", "ForgotPassword")
                        </p>
                }
            </section>
        </div>
        <div class="col-md-4">
            <section id="socialLoginForm">
                @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
            </section>
        </div>
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }*@

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<section class="row">
    <div class="slide">
        <div class="overlay2"></div>
        <div class="animated fadeInUp overlay-title" id="title2" style="color:#ccc">
            <b>Login</b>
        </div>
        @using (Html.BeginForm("Login", "Account", FormMethod.Post))
        {
            <div class="col-lg-5 message-form">
                <input type="text" class="col-lg-11" name="@Html.NameFor(x=>x.Email)" placeholder="Username">
                <input type="password" class="col-lg-11" name="@Html.NameFor(x=>x.Password)" placeholder="Password">
                <button type="submit" class="col-lg-5">Submit</button><br /><br />
               
                <span style="color:red">@Html.ValidationSummary().ToHtmlString()</span><br/>
                <a href="@Url.Action("ForgotPassword","Account")">Forgot Password?</a><br />
                Don't have an account yet?, <a href=@Url.Action("Register", "Account")>Register</a>
                <hr />
                <button class="col-lg-5 btn btn-danger">Login with Google</button><button class="offset-lg-1 col-lg-5 btn btn-info">Login with Facebook</button>
            </div>
        }
        <img src="~/vasuda-template/images/mv.jpg" />
    </div>
</section>