@model VasudaDataAccess.DTOs.DomesticItemViewModel
@using VasudaDataAccess.Utility
@using VasudaDataAccess.Data_Access.Implementation

@{
    ViewBag.Title = "Domestic";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
    var count = 1;

    var fullName = ""; var phoneNumber = ""; var address = "";

    if (Model.User != null)
    {
        var User = Model.User;
        fullName = string.IsNullOrEmpty(User.FullName) ? "" : User.FullName;
        phoneNumber = string.IsNullOrEmpty(User.PhoneNumber) ? "" : User.PhoneNumber;
        address = string.IsNullOrEmpty(User.Address) ? "" : User.Address;
    }
}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card card-info">
                    <div class="card-header">
                        <h3 class="card-title">ADD ITEM FOR DOMESTIC SHIPPING</h3>

                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <!-- form start -->
                        <form class="form-horizontal" id="addDomesticItemForm">
                            <div class="form-group row">
                                <label for="senderName" class="col-sm-12 col-md-2">Sender Name</label>
                                <input type="text" class="form-control form-control-sm col-sm-12 col-md-10" data-formname="Sender Name" id="senderName" value="@fullName" placeholder="Sender Name" required />
                            </div>
                            <div class="form-group row">
                                <label for="senderPhoneNumber" class="col-sm-12 col-md-2">Sender Phone Number</label>
                                <input type="text" class="form-control form-control-sm col-sm-12 col-md-10" data-formname="Sender PhoneNumber" id="senderPhoneNumber" value="@phoneNumber" placeholder="Sender PhoneNumber" required>
                            </div>
                            <div class="form-group row">
                                <label for="senderAddress" class="col-sm-12 col-md-2">Sender Address</label>
                                <input type="text" class="form-control form-control-sm col-sm-12 col-md-10" data-formname="Sender Address" id="senderAddress" value="@address" placeholder="Sender Address" required>
                            </div>
                            <div class="form-group row">
                                <label for="title" class="col-sm-12 col-md-2">Title</label>
                                <textarea class="form-control form-control-sm col-sm-12 col-md-10" data-formname="Title" id="title" placeholder="Enter a title for the products." required></textarea>
                            </div>
                            <div class="form-group row">
                                <label for="description" class="col-sm-12 col-md-2">Description</label>
                                <textarea class="form-control form-control-sm col-sm-12 col-md-10" data-formname="Description" id="description" placeholder="Describe the products." required></textarea>
                            </div>
                            <div class="form-group row">
                                <label for="quantity" class="col-sm-12 col-md-2">Quantity</label>
                                <textarea class="form-control form-control-sm col-sm-12 col-md-10" data-formname="Quantity" id="quantity" placeholder="Enter quantity of products" required></textarea>
                            </div>
                            <div class="form-group row">
                                <label for="weight" class="col-sm-12 col-md-2">Weight (Kg)</label>
                                <input type="text" class="form-control form-control-sm col-sm-12 col-md-10" data-formname="Weight" id="weight" placeholder="Enter the weight of items to be shipped in Kg" required />
                            </div>
                            <div class="form-group row">
                                <label for="receiverName" class="col-sm-12 col-md-2">Receiver Name</label>
                                <input type="text" class="form-control form-control-sm col-sm-12 col-md-10" data-formname="Receiver Name" id="receiverName" placeholder="Receiver Name" required />
                            </div>
                            <div class="form-group row">
                                <label for="receiverPhoneNumber" class="col-sm-12 col-md-2">Receiver Phone Number</label>
                                <input type="text" class="form-control form-control-sm col-sm-12 col-md-10" data-formname="Receiver Phone Number" id="receiverPhoneNumber" placeholder="Receiver Phone Number" required />
                            </div>
                            <div class="form-group row">
                                <label for="receiverAddress" class="col-sm-12 col-md-2">Receiver Address</label>
                                <input type="text" class="form-control form-control-sm col-sm-12 col-md-10" data-formname="Receiver Address" id="receiverAddress" placeholder="Receiver Address" required />
                            </div>
                            <div class="form-group col-12">
                                <button type="submit" class="btn btn-info" id="addDomesticItemBtn">Add Domestic Item</button>
                            </div>
                        </form>
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>
        </div>

        <!--Domestic Item table start-->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">ITEM(S) PENDING CHECKOUT</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        @if (Model.DomesticItems.Count <= 0)
                        {
                            <h3 style="text-align:center">NO ITEM AVAILABLE</h3>
                        }
                        else
                        {
                            <table id="domesticItemTable" class="table table-bordered table-striped table-hover table-sm table-responsive-sm">
                                <thead>
                                    <tr>
                                        <th width="10">S/N</th>
                                        <th>Sender Name</th>
                                        <th>Reciever Name</th>
                                        <th>Reciever Phone Number</th>
                                        <th>Title</th>
                                        <th>Description</th>
                                        <th>Status</th>
                                        <th>Total Price</th>
                                        <th>Date Created</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody class="itemTBody">
                                    @foreach (var item in Model.DomesticItems)
                                    {
                                        <tr>
                                            <td>@count</td>
                                            <td>@item.DomesticItemTable.SenderName</td>
                                            <td>@item.DomesticItemTable.ReceiverName</td>
                                            <td>@item.DomesticItemTable.ReceiverNumber</td>
                                            <td>@item.Title</td>
                                            <td>@Util.ReduceDescriptionLength(item.Description)</td>
                                            <td>
                                                @Util.DomesticStatusEnumConverter(
                                                    (DomesticOrderStatus)Enum.Parse(typeof(DomesticOrderStatus), item.DomesticItemTable.Status))
                                            </td>
                                            <td>@item.TotalPrice</td>
                                            <td>@Util.FormatDate(item.DomesticItemTable.DateCreated)</td>
                                            <td>
                                                <button type="submit"
                                                        class="btn btn-outline-success btn-sm itemsViewMoreButton"
                                                        data-id="@item.Id">
                                                    View More
                                                </button>
                                                @{
                                                    if (item.Status == ItemStatus.Pending.ToString())
                                                    {
                                                        if (item.DomesticItemTable.Status == DomesticOrderStatus.AwaitingQuotation.ToString()
                                                            || item.DomesticItemTable.Status == DomesticOrderStatus.AwaitingUserAcceptance.ToString()
                                                            || item.DomesticItemTable.Status == DomesticOrderStatus.RejectedQuotation.ToString()
                                                            )
                                                        {
                                                            <button type="submit" class="btn btn-outline-danger btn-sm itemsDeleteBtn" data-id="@item.Id">Delete</button>
                                                        }
                                                    }
                                                }
                                            </td>
                                        </tr>
                                        count++;
                                    }
                                </tbody>
                            </table>
                        }
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
        </div>
        <!--Domestic Item table end-->
    </div>
</section>

@*Domestic Item modal start*@

<div class="modal fade" id="domestic-item-info" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Domestic Item Details</h4>
                <button type="button" class="btn btn-outline-success btn-sm" data-dismiss="modal" aria-label="Close">
                    Close
                </button>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <p>
                            <strong>Sender Name: </strong>
                            <span class="text-muted" id="dItemSenderName"></span>
                        </p>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <p>
                            <strong>Sender PhoneNumber: </strong>
                            <span class="text-muted" id="dItemSenderPhoneNumber"></span>
                        </p>
                    </div>
                </div>
                <hr />

                <div class="row">
                    <div class="col-12">
                        <p>
                            <strong>Sender Address: </strong>
                            <span class="text-muted" id="dItemSenderAddress"></span>
                        </p>
                    </div>
                </div>
                <hr />

                <div class="row">
                    <div class="col-12">
                        <p>
                            <strong>Title: </strong>
                            <span class="text-muted" id="dTitle"></span>
                        </p>
                    </div>
                    <div class="col-12">
                        <p>
                            <strong>Description: </strong>
                            <span class="text-muted" id="dItemDescription"></span>
                        </p>
                    </div>
                </div>
                <hr />

                <div class="row">
                    <div class="col-sm-12 col-md-4">
                        <p>
                            <strong>Quantity: </strong>
                            <span class="text-muted" id="dItemQuantity"></span>
                        </p>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <p>
                            <strong>Weight: </strong>
                            <span class="text-muted" id="dItemWeight"></span>
                        </p>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <p>
                            <strong>Status: </strong>
                            <span class="text-muted" id="dItemStatus"></span>
                        </p>
                    </div>
                </div>
                <hr />

                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <p>
                            <strong>Receiver Name: </strong>
                            <span class="text-muted" id="dItemReceiverName"></span>
                        </p>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <p>
                            <strong>Receiver PhoneNumber: </strong>
                            <span class="text-muted" id="dItemReceiverNumber"></span>
                        </p>
                    </div>
                </div>
                <hr />

                <div class="row">
                    <div class="col-12">
                        <p>
                            <strong>Receiver Address: </strong>
                            <span class="text-muted" id="dItemReceiverAddress"></span>
                        </p>
                    </div>
                </div>
                <hr />

                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <p>
                            <strong>Date Created: </strong>
                            <span class="text-muted" id="dItemDateCreated"></span>
                        </p>
                    </div>
                    <div class="col-sm-12 col-md-3">
                        <p>
                            <strong>Service Price: </strong>
                            <span class="text-muted" id="dItemServicePrice"></span>
                        </p>
                    </div>
                    <div class="col-sm-12 col-md-3">
                        <p>
                            <strong>Total Price: </strong>
                            <span class="text-muted" id="dItemTotalPrice"></span>
                        </p>
                    </div>
                </div>

            </div>
            <div class="modal-footer justify-content-between">
                <p id="collectId" class="d-none"></p>
                <button type="button" id="closeDomesticItemModalBtn" class="btn btn-outline-success btn-sm" data-dismiss="modal" style="display:none">Close</button>
                <button type="button" id="acceptDomesticItemModalBtn" class="btn btn-outline-success btn-sm" data-dismiss="modal" style="display:none">Accept Processing Price</button>
                <button type="button" id="rejectDomesticItemModalBtn" class="btn btn-outline-danger btn-sm" data-dismiss="modal" style="display:none">Reject Processing Price</button>
                <button type="button" id="acceptShippingPaymentModalBtn" class="btn btn-outline-success btn-sm" data-dismiss="modal" style="display:none">Make Shipping Payment</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
@*Domestic Item modal end*@

<script>
    $("#domesticItemTable").DataTable();
</script>

