@model VasudaDataAccess.DTOs.AdminNotificationViewModel

@{
    ViewBag.Title = "Notification";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    var count = 1;
}

<link rel="stylesheet" href="~/admin-lte/plugins/fontawesome-free/css/all.min.css">
<!-- Ionicons -->
<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
<!-- Theme style -->
<link rel="stylesheet" href="~/admin-lte/dist/css/adminlte.min.css">
<!-- summernote -->
<link rel="stylesheet" href="~/admin-lte/plugins/summernote/summernote-bs4.css">
<!-- Google Font: Source Sans Pro -->
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">

<section class="content">
    <div class="container-fluid">

        <!--Notification drop down start-->
        <div class="row">
            <div class="col-12">
                <!-- Default box -->
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Manage Notifications</h3>

                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body">

                        <div class="col-md-12">
                            <div class="card card-primary card-outline">
                                <div class="card-header">
                                    <h3 class="card-title">Compose New Message</h3>
                                </div>
                                <div class="alert alert-danger" id="DangerAlert" style="display: none" role="alert">
                                   
                                </div>
                                <!-- /.card-header -->
                                <form id="MailForm">
                                    <div class="card-body">
                                        <div class="form-group">
                                            <input class="form-control" required data-formname="To" id="email" placeholder="To:">
                                        </div>
                                        <div class="form-group">
                                            <input class="form-control" required data-formname="Subject" id="subject" placeholder="Subject:">
                                        </div>
                                        @*<div class="form-group">
                                                <select class="form-control" id="MailType">
                                                    <option value="">Select Notification</option>
                                                    <option>Mail</option>
                                                    <option>Text</option>
                                                </select>
                                            </div>*@
                                        <div class="form-group">
                                            <textarea id="compose-textarea" required data-formname="Message" class="form-control" style="height: 300px">
                                      </textarea>
                                        </div>
                                    </div>
                                    <!-- /.card-body -->
                                    <div class="card-footer">
                                        <div class="float-right">
                                            <button type="submit" id="SendMail" class="btn btn-primary"><i class="far fa-envelope"></i> Send</button>
                                        </div>
                                    </div>
                                </form>

                                <!-- /.card-footer -->
                            </div>
                            <!-- /.card -->
                        </div>



                    </div>
                    <!-- /.card-body -->

                </div>
                <!-- /.card -->
            </div>
        </div>
        <!--Notification drop down end-->
        <!--Notification table start-->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Notifications</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        @if (Model.Notifications.Count == 0)
                        {
                            <h3 style="text-align:center">NO NOTIFICATION AVAILABLE</h3>
                        }
                        else
                        {
                            <table id="notificationTable" class="table table-bordered table-striped table-hover table-sm table-responsive-sm">
                                <thead>
                                    <tr>
                                        <th>S/N</th>
                                        <th>Subject</th>
                                        <th>Date Published</th>
                                        <th>Read Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody id="NotificationTbody">
                                    @foreach (var notification in Model.Notifications)
                                    {
                                        <tr>
                                            <td>@count</td>
                                            <td>@notification.Subject</td>
                                            <td>@notification.DateCreated</td>
                                            <td>@notification.IsRead</td>
                                            <td>
                                                <button type="button" class="btn btn-outline-success btn-sm ViewNotification" data-id="@notification.Id">View</button>
                                            </td>
                                        </tr>
                                        count++;
                                    }
                                </tbody>
                            </table>
                        }
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
        </div>
        <!--Notification table end-->

    </div>
</section>
<!-- AdminLTE App -->
<script src="~/admin-lte/dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="~/admin-lte/dist/js/demo.js"></script>
<!-- Summernote -->
<script src="~/admin-lte/plugins/summernote/summernote-bs4.min.js"></script>
<!-- Page Script -->
<script>
    $(function () {
        //Add text editor
        $('#compose-textarea').summernote();
    })
    $("#notificationTable").DataTable();
</script>


<div class="modal fade" id="NotificationModal" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">View Notification</h4>
                <button type="button" class="btn btn-outline-success btn-sm" data-dismiss="modal" aria-label="Close">
                    Close
                </button>
            </div>
            <div class="modal-body">
                <p id="NotificationDiv">

                </p>
            </div>
        </div>
    </div>
</div>



