@model VasudaDataAccess.DTOs.AdminOrderDto
@{
    ViewBag.Title = "Order";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <!-- Default box -->
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Add Product</h3>

                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                                <i class="fas fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <input type="button" class="btn btn-primary" value="Completed Orders" id="CompletedOrderBtn" />
                        <input type="button" class="btn btn-primary" value="Pending Domestic Request" id="DomesticOrdersBtn" />
                        <input type="button" class="btn btn-primary" value="Pending Orders" id="PendingOrders" />

                        <div class="row" id="CompletedOrderDiv" style="display: none">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h3 class="card-title">Completed Order</h3>
                                    </div>
                                    <!-- /.card-header -->
                                    <div class="card-body">
                                        <table id="CompleteOrderTable" class="table table-bordered table-striped table-responsive">
                                            <thead>
                                                <tr>
                                                    <th>Tracking Number</th>
                                                    <th>UserName</th>
                                                    <th>Email</th>
                                                    <th>Location</th>
                                                    <th>Type</th>
                                                    <th>Total Amount</th>
                                                    <th>Payment Status</th>
                                                    <th>Date Created</th>
                                                    <th>Options</th>
                                                </tr>
                                            </thead>
                                            <tbody class="UnfinishedTbody">
                                                @foreach (var item in Model.FinishedOrders)
                                                {
                                                    <tr>
                                                        <td>@item.TrackingNumber</td>
                                                        <td>@item.AspNetUser.FullName</td>
                                                        <td>@item.AspNetUser.Email</td>
                                                        <td>@item.AspNetUser.Address</td>
                                                        <td>@item.OrderType</td>
                                                        <td>@item.TotalPrice</td>
                                                        <td>@item.Status</td>
                                                        <td>@item.DateCreated.ToString("f")</td>
                                                        <td><button data-id="@item.Id" class="btn btn-success ViewOrderItems">View</button> </td>
                                                    </tr>

                                                }

                                            </tbody>

                                        </table>
                                    </div>
                                    <!-- /.card-body -->
                                </div>
                                <!-- /.card -->
                            </div>
                            <!-- /.col -->

                        </div>


                    </div>

                    <div class="card-body" id="PendingOrderDiv">
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h3 class="card-title">Pending Order</h3>
                                    </div>
                                    <!-- /.card-header -->
                                    <div class="card-body">
                                        <table id="PendingOrderTable" class="table table-bordered table-striped table-responsive-lg">
                                            <thead>
                                                <tr>
                                                    <th>UserName</th>
                                                    <th>Tracking Number</th>
                                                    <th>Type</th>
                                                    <th>Total Amount</th>
                                                    <th>Payment Status</th>
                                                    <th>Options</th>
                                                    <th>Next Action</th>
                                                </tr>
                                            </thead>
                                            <tbody class="UnfinishedTbody">
                                                @foreach (var item in Model.UnfinishedOrders)
                                                {
                                                    <tr>
                                                        <td>@item.AspNetUser.FullName</td>
                                                        <td>@item.TrackingNumber</td>
                                                        <td>@item.OrderType</td>
                                                        <td>@item.TotalPrice</td>
                                                        <td>@item.Status</td>
                                                        <td><button data-id="@item.Id" class="btn btn-success ViewOrderItems">View</button> </td>
                                                        <td> <button data-id="@item.Id" data-status="@item.Status" class="btn btn-primary NextAction">@item.NextAction</button> </td>
                                                    </tr>

                                                }


                                            </tbody>

                                        </table>
                                    </div>
                                    <!-- /.card-body -->
                                </div>
                                <!-- /.card -->
                            </div>
                            <!-- /.col -->

                        </div>


                    </div>

                    <div class="card-body" id="DomesticOrders" style="display: none">
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h3 class="card-title">Order History</h3>
                                    </div>
                                    <!-- /.card-header -->
                                    <div class="card-body">
                                        <table id="UserOrderTable" class="table table-bordered table-striped table-responsive-lg">
                                            <thead>
                                                <tr>
                                                    <th>Name</th>
                                                    <th>Phone</th>
                                                    <th>Description</th>
                                                    <th>Weight</th>
                                                    <th>Quantity</th>
                                                    <th>Date Created</th>
                                                    <th>Options</th>
                                                </tr>
                                            </thead>
                                            <tbody id="domesticTbody">

                                                @foreach (var item in Model.DomesticOrder)
                                                {
                                                    <tr>
                                                        <td>@item.AspNetUser.FullName</td>
                                                        <td>@item.AspNetUser.PhoneNumber</td>
                                                        <td>@item.Description</td>
                                                        <td>@item.DomesticItemTable.Weight</td>
                                                        <td>@item.DomesticItemTable.Quantity</td>
                                                        <td>@item.DateCreated.ToString("f")</td>
                                                        <td> <button class="btn btn-primary DomesticViewMore" data-id="@item.Id">View Details</button>
                                                    </tr>

                                                }
                                            </tbody>

                                        </table>
                                    </div>
                                    <!-- /.card-body -->
                                </div>
                                <!-- /.card -->
                            </div>
                            <!-- /.col -->

                        </div>


                    </div>

                    <!-- /.card-footer-->
                </div>
                <!-- /.card -->
            </div>
        </div>
    </div>
</section>


<div class="modal fade bd-example-modal-lg" id="DomesticLargeModel" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Domestic Order</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-group">
                        <hr />
                        <div class="row">
                            <div class="col-4 "><b>Name:</b><span id="DomeName"></span></div>
                            <div class="col-4"><b>Email:</b><span id="DomeEmail"></span></div>
                            <div class="col-3"><b>Phone:</b><span id="DomePhone"></span></div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-6"><b>Address:</b><span id="DomeAddress"></span></div>
                            <div class="col-5"><b>Supplier Name:</b><span id="DomeSuppName"></span></div>
                        </div>
                        <hr />
                        <div class="row">

                            <div class="col-3"><b>Supplier Address:</b><span id="DomeSuppAddr"></span></div>
                            <div class="col-3"><b>Supplier Phone:</b><span id="DomeSuppPhone"></span></div>
                            <div class="col-3"><b>Receiver Name:</b><span id="DomeReceName"></span></div>
                        </div>
                        <hr />
                        <div class="row">

                            <div class="col-3"><b>Receiver Address:</b><span id="DomeReceAddr"></span></div>
                            <div class="col-3"><b>Receiver Phone:</b><span id="DomeRecePhone"></span></div>
                            <div class="col-2"><b>Weight:</b><span id="DomeWeight"></span></div>
                            <div class="col-3"><b>Quantity:</b><span id="DomeQuantity"></span></div>
                        </div>
                        <hr />
                        <div class="row">

                            <div class="col-3"><b>Date Created:</b><span id="DomeCreated"></span></div>
                            <div class="col-3"><b>Price Quotation:</b><input type="number" class="form-control" id="DomesticQoutation"></div>
                        </div>
                        <hr />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="ContactUser">Contact User</button>
                <button type="button" class="btn btn-primary" id="SubmitPrice">Save Quotation</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bd-example-modal-lg" id="OrderModel" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Order</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-group">
                        <label class="col-4">Name:<label id="OrderName"></label></label>
                        <label class="col-4">Email:<label id="OrderEmail"></label></label>
                        <label class="col-3">Phone:<label id="OrderPhone"></label></label>
                        <label class="col-6">Address:<label id="OrderAddress"></label></label>
                        <label class="col-5">Order Type:<label id="OrderType"></label></label>
                        <label class="col-5">Status<label id="OrderStatus"></label></label>
                        <table class="table table-bordered table-responsive table-striped" id="OrderItemTable">
                            <thead>
                                <tr>
                                    <th>Title</th>
                                    <th>Description</th>
                                    <th>Type</th>
                                    <th>Quantity</th>
                                    <th>Items Price</th>
                                    <th>Service Price</th>
                                    <th>Total Price</th>
                                    <th>Options</th>
                                </tr>
                            </thead>
                            <tbody id="ItemsTableDiv">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="ViewSupplierInfo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">View Supplier</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="form-group">
                        <label class="col-4">Name:<label id="SupName"></label></label>
                        <label class="col-3">Phone:<label id="SupPhone"></label></label>
                        <label class="col-6">Address:<label id="SupAddress"></label></label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    $(".table").DataTable()
</script>